<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/addContact.css" type="text/css">
    <title></title>
  </head>
  <body>
    <a href="/allContacts">Search all records</a>
    <center>
    <div class="formEnvelop">
    <form class="" action="/userAdded" method="POST">
    <div class="inputBox">
      <input type="text" name="userName" value="" placeholder="Enter name"/>
    </div>
    <div class="inputBox">
      <input type="date" name="dateOfBirth" value="" placeholder="enter DOB"/>
    </div>
    <div class="inputBox">
      <input type="phoneNumber" name="phoneNumber" value="" placeholder="enter Phone Number"/>
    </div>
    <div class="inputBox">
      <input type="email" name="email" value="" placeholder="enter email"/>
    </div>

      <center><input type="submit" name="" value="Save"></center>
    </form>
    </div>

</center>
  </body>
</html>
