@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
	box-sizing:border-box;
}

body {
  background:#2FD9AD;
	padding:$base-spacing-unit;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
}



.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

table {
	width:100%;
	border:1px solid $color-form-highlight;
}

.header {

   font-style: oblique;
   font-family: sans-serif;
   text-emphasis: 10px;
	display:flex;
	width:100%;
  border: 2px;
	padding:($half-spacing-unit * 1.5) 0;
}

tr {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;

	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

td {
  border: 2px;
  border: solid;
  border-color: #000000;
	flex: 1 1 20%;
	text-align:center;
}
th{
  text-align: center;
}
#search_bar
{
	width: 60%;
}
